* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: pink;
    width: 100vw;
    height: 100vh;            
}
.img1{
    width: 50%;
    height: auto;
    float: right;
    border: 5px solid greenyellow;
}
.img2{
    width: 80vw;
    height: auto;
    border: 5px solid greenyellow;
}
.img3{
    width: 100vw;
    height: 10%;

}
